DB_HOST=localhost
DB_PORT=5432
DB_USER=barber
DB_PASS=secret
DB_NAME=barbershop
SERVER_PORT=8080
WS_ORIGIN_ALLOWED=*
JWT_SECRET=ganti-dengan-string-acak-anda
FCM_CREDENTIAL_PATH=firebase-credentials.json
FCM_PROJECT_ID=isi-dengan-project-id-firebase-anda
